@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,700&display=swap');

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f5;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
/* Main div */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.hero {
  padding: 2rem 0 0 2rem;
  justify-content: center;
  height: 100%;
}
/* Div with all small divs and border */
.wraper {
  width: 600px;
  height: 100%;
  border: solid blue 0.2rem;
  border-radius: 0.3rem;
}

/* Heading classes */
h1 {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

h2 {
  font-weight: 400;
}
h3 {
  font-weight: 300;
}
/* Header div with the paragraph and heading */

.top-header {
  padding-left: 2rem;
  border-bottom: 3px solid blue;
}

.head-paragraph {
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.bmi-heading {
  display: block;
  background-color: #025eb8;
  height: 60px;
  font-size: 2rem;
  color: #fff;
  padding-left: 2rem;
  letter-spacing: 0.1rem;
  line-height: 4rem;
}

/* Div the two selecting buttons */

.age-select {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  width: 80%;
  height: 60px;
  border-bottom: solid #004b93 0.2rem;
}

/* Css for the buttons */
#child {
  background-color: #778692;
}

.btn {
  height: 50px;
  width: 180px;
  margin-bottom: 0px;
  background-color: #025eb8;
  border-radius: 0.8rem 0.8rem 0 0;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.09rem;
  cursor: pointer;
  box-shadow: none;
}

/* Bottom div with the calculator button */
.calculator-button {
  width: 150px;
  height: 60px;
  margin: 2rem 0 2rem 2rem;
  background-color: #007f3c;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 0.5rem;
}

.calculator-button:hover {
  background-color: #778692;
}

/* CSS for height and weights inputs */

.eu-measure {
  display: flex;
}

/*  div with button for changing the measures */
.switch-mes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-switch-measures {
  display: block;
  text-align: center;
  border: none;
  font-size: 15px;
  background-color: #d3d3d3;
  border-radius: 3px;
  height: 30px;
  margin-right: 3.8rem;
  letter-spacing: 0.02rem;
  cursor: pointer;
}

.btn-switch-measures:hover {
  background-color: #d3d3d3;
  border-radius: 3px;
  letter-spacing: 0.1rem;
}

/* Css for the hide and show div with english units */
.english-measure {
  display: flex;
  visibility: hidden;
}

.english-measure-kg {
  display: flex;
  visibility: hidden;
}

.reveal {
  visibility: visible;
}

.reveal-weightEng {
  visibility: visible;
}
input {
  display: block;
  border: 0.1rem solid #d3d3d3;
  border-radius: 0.2rem;
  height: 35px;
  cursor: pointer;
}

input:hover {
  border: 1px solid red;
}

::placeholder {
  color: #d3d3d3;
  text-align: center;
  font-size: 0.9rem;
}
.height-cm {
  margin: 0 0 20px 0px;
}
.height-ft {
  margin: 0 0 20px 0px;
}
.height-inch {
  margin: 0 0 20px 20px;
}

/* Weights inputs*/

.weight-kg {
  margin: 0 0 20px 0px;
}
.weight-stone {
  margin: 0 0 20px 0px;
}
.weight-pound {
  margin: 0 0 20px 20px;
}

/* Select and the bottom divs */
.select-gender {
  width: 100px;
  height: 30px;
  font-size: 1rem;
}
